@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>A Journey.</h3>

<p>I have been practicing code for over a year now. I put in hours of studying everyday all while working full time. 
    I have finally found something I love and I am striving to learn as much as I can. I cannot wait to work for a 
    company and pursue my passion for software!</p>
